[submodule "art"]
	path = art
	url = https://github.com/kidthales/xeno-art.git
[submodule "design"]
	path = design
	url = https://github.com/kidthales/xeno-design.git
[submodule "audio"]
	path = audio
	url = https://github.com/kidthales/xeno-audio.git
